@use '../../../base' as base;

.container {
  display: block;
  height: auto;

  * {
    font-family: base.$primary-font-family;
    color: base.$normal-text-color;
    background-color: base.$background-color;
  }
}
