@use '../../../../base' as base;

.pdf-helper {
  display: flex;
  margin: 0.5rem auto;
  max-width: base.$container-max-width;
  background-color: base.$background-color;

  input {
    padding: 0.25rem;
  }

  
}