@use '../../base' as base;

.card {
  min-width: base.$navbar-min-width;
  width: base.$navbar-width;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;

  .card-socials, .card-aboutme {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .card-intro {
    text-align: center;
    margin-top: 2rem;
    
    p {
      margin: 0.2rem auto;
    }
  }



  .card-socials {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    gap: 0.2rem 0.5rem;
    flex-wrap: wrap;

    li {
      position: relative;

      a:hover {
        font-weight: 600;
        transition: 0.2s;
      }
    }
  }

  .card-aboutme {
    text-align: justify;
  }

}