<div class="portfolio-card">
  <h2>Education</h2>
  <div>
    <div class="education" *ngFor="let education of educations">
      <div class="education-title">
        <h3>{{ education.name }}</h3>
      </div>
      <div class="education-period">
        <p>Period: <b>{{ education.startDate }} - {{ education.endDate }}</b></p>
      </div>
      <div class="education-major">
        <p>Major: <b>{{ education.major }}</b></p>
      </div>
      <div class="education-gpa">
        <p>GPA: <b>{{ education.gpa }}/{{ education.maxGpa }}</b></p>
      </div>
    </div>
  </div>
</div>