<div class="pdf-view-container">
  <!-- <pdf-viewer #pdfViewer
    [src]="'https://pdfobject.com/pdf/sample.pdf'"
    [render-text]="true"
    [original-size]="false"
    [zoom]="0.5"
    [show-all]="true"
    [show-borders]="true"
    [external-link-target]="'blank'"
    (after-load-complete)="afterLoadComplete($event)" 
  ></pdf-viewer> -->
  <ngx-extended-pdf-viewer
    [base64Src]="base64Src"
    [height]="'auto'" 
    [textLayer]="true"
    [showHandToolButton]="true">
  </ngx-extended-pdf-viewer>
</div>=