@use '../../../../base' as base;

.navbar {
  position: relative;
  min-width: base.$navbar-min-width;
  width: base.$navbar-width;
  padding: 2rem 1.5rem;

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    
  
    .card-socials, .card-aboutme {
      margin-top: 0.125rem;
      margin-bottom: 2rem;
    }
  
    .card-intro {
      text-align: center;
      margin-top: 2rem;
      
      p {
        margin-bottom: 0.125rem;
      }
    }
  
  
  
    .card-socials {
      display: inline-flex;
      justify-content: center;
      list-style: none;
      gap: 0.2rem 0.5rem;
      flex-wrap: wrap;
  
      li {
        position: relative;
  
        a:hover {
          font-weight: 600;
          transition: 0.2s;
        }
      }
    }
  
    .card-aboutme {
      text-align: justify;
    }
  
  }
}