@use '../../../../base' as base;

.navbar {
  display: flex;
  padding: 2rem 1.5rem;

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    .card-socials, .card-aboutme {
      margin-top: 0.125rem;
      margin-bottom: 2rem;
    }
  
    .card-intro {
      text-align: center;
      margin-top: 2rem;
      
      p {
        margin-bottom: 0.125rem;
      }
    }
  
    .card-nav, .card-socials {
      display: inline-flex;
      list-style: none;
      flex-wrap: wrap;
      display: inline-flex;
      justify-content: center;
    }
  
    .card-socials {
      gap: 0.2rem 0.5rem;
      
      li {
        position: relative;
  
        a:hover {
          font-weight: 600;
          transition: 0.2s;
        }
      }
    }
  
    .card-aboutme {
      text-align: justify;
    }
    
    .card-nav {
      gap: 0.2rem 1rem;

      a {
        cursor: pointer;

        i {
          font-size: 1.5rem;
        }
      }
      
      
    }
  }
}