<div class="navbar">
  <div class="card">
    <h1>
      <a href="#">{{ name }}</a>
    </h1>
    <div class="card-intro">
      <p *ngIf="country !== ''">{{ country }}</p>
      <p *ngIf="phoneNumber !== ''">{{ phoneNumber }}</p>
      <p *ngIf="email !== ''"><a href="{{'mailto:' + email}}">{{ email }}</a></p>
    </div>
    <ul class="card-socials">
      <li>
        <a routerLink="pdf-view" routerLinkActive="active" target="_blank">
          Resume
        </a>
      </li>
      <li *ngFor="let social of socials; index as i">
        <a *ngIf="!social.hidden" href="{{ social.link }}" target="_blank">
          {{ social.name }}
        </a>
      </li>
    </ul>
    <div class="card-aboutme">
      <div *ngFor="let line of aboutMe">
        <span [innerHTML]="line"></span> <br> <br>
      </div>
    </div>
    <ul class="card-nav">
      <!-- <li>
        <a routerLink="pdf-view" routerLinkActive="active">
          <i class="fa-solid fa-file-pdf"></i>
        </a>
      </li> -->
    </ul>
  </div>
</div>