<div class="portfolio-card">
  <h2>Technical Skills</h2>
  <div>
    <div class="skills" *ngFor="let skill of skills">
      <div class="skills-key-name">
        <p><b>{{ skill.keyName }}:&nbsp;</b></p>
      </div>
      <div
        class="related-techs"
        *ngFor="let tech of skill.relatedTechs; index as i"
      >
        <p *ngIf="i < skill.relatedTechs.length - 1">{{ tech }},&nbsp;</p>
        <p *ngIf="i === skill.relatedTechs.length - 1">{{ tech }}.</p>
      </div>
    </div>
  </div>
</div>
