@import '../portfolio.component';


.projects {
  position: relative;

  .project-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
  }

  .project-descriptions {
    padding: 0.25rem 0rem 0.25rem 1.25rem;
  }

  .project-key-techs {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects:not(:last-child) {
  margin-bottom: 1rem;
}
