@import '../portfolio.component';

.experience {
  position: relative;

  .experience-title {
    display: flex;
    justify-content: space-between;
  }

  .experience-description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0.25rem 0rem 0.5rem 1.25rem;
  }
}

.experience:not(:last-child) {
  margin-bottom: 1rem;
}

.experience:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  height: 1px;
  width: 94%;
  background: $sub-border-color;
  border: none;
}
