// dimension
$container-max-width: 1024px;
$navbar-min-width: 270px;
$navbar-width: 296px;
$portfolio-min-width: 672px;
$portfolio-width: 728px;

// fonts
$primary-font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-text-size: 28px;
$normal-text-size: 14px;

// colors
$h1-color: #222;
$h2-color: #393939;
$h3-color: #494949;
$normal-text-color: #727272;
$background-color: #fff;
$second-background-color: #979797;
