@use 'base' as base;

@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import "./responsive";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: base.$h1-color;
  font-size: base.$title-text-size;
}

h2 {
  color: base.$h2-color;
}

h3 {
  color: base.$h3-color;
}

a {
  text-decoration: none !important;
  color: base.$a-color !important;
}

a:hover, a:focus {
  color: base.$a-hover-color !important;
}

div, p {
  font-size: base.$normal-text-size;
  line-height: base.$normal-text-size * 1.6;
}
