@use 'base' as base;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: base.$h1-color;
  font-size: base.$title-text-size;
}

h2 {
  color: base.$h2-color;
}

h3 {
  color: base.$h3-color;
}

a {
  text-decoration: none !important;
  color: #267CB9 !important;
}

a:hover, a:focus {
  color: #069 !important;
}

div, p {
  font-size: base.$normal-text-size;
  line-height: base.$normal-text-size * 1.6;
}